.formControl {
    margin-right: 15px;
    margin-left: 15px;
}

.formGroupFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formGroupFlexItem {
    align-self: center;
}

.formFlexItem {
    align-self: center;
}

.formFlex {
    display: flex;
    flex-direction: column;
}

.formGroupHalf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.formGroupHalfItem {
    margin-bottom: 10px;
}

.itemList {
    padding-left: 20px;
    font-size: 15px;
}

.controlLabel {
    font-family: 'Raleway', cursive;
    font-size: 15px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexRowItem {
    align-items: flex-start;
    margin-right: 7px;
}

.modalTitle {
    font-size: 23px;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.courseModalSelect {
    width: 40%;
}

.courseModalSelectSmall {
    width: 25%;
}

.daySelect {
    width: 225px;
}

.hourSelect {
    width: 145px;
}

.footerFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerFlexItem {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.selectMargin {
    margin-right: 10px;
}

@media (min-width: 900px) {
    .teacherFlexMarginLeft {
        margin-left: 10px; 
    }
    
    .tableMargin {
        margin-right: 20px;
        margin-left: 20px;
    }
}

.subFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.marginLeft {
    margin-left: 10px;
}