.action-button {
    margin-left:3px;
    margin-right: 3px;
}

.out-table-button {
    margin-bottom: 5px;
    margin-right: 5px;
    height: 30px;
    font-size: 12px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-title {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}

.teacher-flex {
    display: flex;
    flex-direction: row;
}

.teacher-flex-item {
    align-items: center;
}

.teacher-btn {
    padding: 0px;
    border: 0px;
    height: 14px;
    width: 14px;
    margin-left: 2px;
}

.teacher-name {
    margin-bottom: 3px;
}

.teacher-flex-aux {
    display: flex;
    flex-direction: column;
}

.teacher-flex-aux-item {
    align-self: center;
}

.teacher-more-btn {
    font-size: 12px;
    margin-top: 10px;
}
