.teachers-modal-main-flex {
    display: flex;
    flex-direction: column;
}

.teachers-modal-main-item {
    align-self: center;
}

.sub-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.current-teachers-list {
    margin-top: 15px;
}

.modal-select {
    width: 170px;
}

.sub-flex-item {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}