.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  font-family: 'Raleway', cursive;
  font-size: 20px;
}

.customNavbar {
  margin-bottom: 0px;
}

.App .navDropDown {
  z-index: 1001;
}